.searchbox {
    /* Full height */
    height: 100%;
    min-height: 80vh;
    /*height: 80vh;*/
    /* Center and scale the image nicely */
    background: url("../images/ball-stadium.jpeg") no-repeat center;
    background-size: cover;
}

.searchbox-panel {
    margin-bottom: 30px;
    margin-top: 30px;
}

.ui-datepicker {
    background: #002147;
    border: 1px solid #555;
    color: #EEE;
}

.img-bottom {
    width: 100%;
    height: 30rem;
}

.card {
    margin-bottom: 2rem;
}

.bigger {
    font-size: 25px;
    height: 20px;
    padding: 1px 7px;
}

.title {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

#loading_img {
    height: 70px;
    width: 70px;
}

.form_input {
    margin-bottom: 30px !important;
    margin-top: 5px !important;
}

.error {
    border: 1px solid red;
}

.user_profile {
    display: unset;
    background: #ffb71c;
    color: #fff;
    font-size: 0.9em;
    padding: 8px 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
}

.user_profile li {
    color: #FFF;
}

.user_profile:hover {
    background: #fff;
    color: #000;
}

.user_profile_item {
    /*width: 200px;*/
    /*display:inline-block;*/
}

.user_profile_item a {
    padding-bottom: 4px;
    padding-left: 5px;
    display: block;
    list-style: circle;
}

.padding {
    padding-top: 30px;
}

.glyphicon {
    margin-bottom: 10px;
    margin-right: 10px;
}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

.col-center-block {
    float: none;
    display: block;
    margin: 40px auto;
    /* margin-left: auto; margin-right: auto; */
}

.hidden {
    display: none;
}

.change_pass {
    width: 30%;
}

.user-info td {
    padding: 5px 10px 5px 10px;
}

.booking-img {
    width: 35px;
    height: 45px;
}

.booking-card {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    border: 1px solid darkgray;
    border-radius: 20px;
}

.booking-card:hover {
    background-color: #a6daea;
}

.delete {
    font-size: 26px;
}

.pointer {
    cursor: pointer;
}

.add {
    font-size: 26px;
    cursor: pointer;
}

.not-valid {
    cursor: not-allowed;
    border-color: red;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu { /* used to be tt-dropdown-menu in older versions */
    width: 422px;
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor, .tt-suggestion:hover {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

/** Added from this point */
.typeahead.dropdown-menu {
    width: 102%;
    overflow-x: hidden;
}

.signin-button {
    outline: none;
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    background: #ffb71c;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
}

.signin-button:disabled {
    cursor: not-allowed;
    color: #888888;
    background: #B0B0B0;
}

.signin-button:hover:enabled {
    color: #fff;
    background: #000;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

.count {
    padding-top: 20px;
}

.inline-label {
    white-space: nowrap;
}

.img_tournament {
    width: 150px;
    height: 150px;
}

.img_sponsor {
    width: 100px;
    height: 80px;
}

.img_award {
    width: 100px;
    height: 80px;
}

.img_partner {
    width: 80px;
    height: 50px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #ffb71c; /* Background color */
    color: #000; /* Text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 9999; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

.break-text {
    word-wrap: break-word;
}

.bottom-border {
    border-bottom: 1px solid darkgray;
}

.white {
    color: white;
}

/* Pagination stuff*/

.easyPaginateNav {
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
}

.page {
    margin-left: 5px;
    margin-right: 5px;
}

.easyPaginateNav a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.easyPaginateNav a.current {
    background-color: #002147;
    color: white;
}

.easyPaginateNav a:hover:not(.current) {
    background-color: #ddd;
}

.chart-container {

    width: 80%;
    height: 50%;
}

h1 {
    font-size: 60px;
    text-align: center;
}

.content-slider {
    width: 100%;
    height: 360px;
}

.slider {
    height: 320px;
    width: 680px;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
}

.mask {
    overflow: hidden;
    height: 320px;
}

.slider ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.slider li {
    width: 680px;
    height: 320px;
    position: absolute;
    top: -325px;
    list-style: none;
}

.slider .quote {
    font-size: 40px;
    font-style: italic;
}

.slider .source {
    font-size: 20px;
    text-align: right;
}

.slider li.anim1 {
    -moz-animation: cycle 15s linear infinite;
    -webkit-animation: cycle 15s linear infinite;
    animation: cycle 15s linear infinite;
}

.slider li.anim2 {
    -moz-animation: cycle2 15s linear infinite;
    -webkit-animation: cycle2 15s linear infinite;
    animation: cycle2 15s linear infinite;
}

.slider li.anim3 {
    -moz-animation: cycle3 15s linear infinite;
    -webkit-animation: cycle3 15s linear infinite;
    animation: cycle3 15s linear infinite;
}

.slider li.anim4 {
    -moz-animation: cycle4 15s linear infinite;
    -webkit-animation: cycle4 15s linear infinite;
    animation: cycle4 15s linear infinite;
}

.slider li.anim5 {
    -moz-animation: cycle5 15s linear infinite;
    -webkit-animation: cycle5 15s linear infinite;
    animation: cycle5 15s linear infinite;
}

.slider:hover li {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-moz-keyframes cycle {
    0% {
        top: 0px;
    }
    4% {
        top: 0px;
    }
    16% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    20% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    21% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    92% {
        top: -325px;
        opacity: 0;
        z-index: 0;
    }
    96% {
        top: -325px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@-moz-keyframes cycle2 {
    0% {
        top: -325px;
        opacity: 0;
    }
    16% {
        top: -325px;
        opacity: 0;
    }
    20% {
        top: 0px;
        opacity: 1;
    }
    24% {
        top: 0px;
        opacity: 1;
    }
    36% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    40% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    41% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-moz-keyframes cycle3 {
    0% {
        top: -325px;
        opacity: 0;
    }
    36% {
        top: -325px;
        opacity: 0;
    }
    40% {
        top: 0px;
        opacity: 1;
    }
    44% {
        top: 0px;
        opacity: 1;
    }
    56% {
        top: 0px;
        opacity: 1;
    }
    60% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    61% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-moz-keyframes cycle4 {
    0% {
        top: -325px;
        opacity: 0;
    }
    56% {
        top: -325px;
        opacity: 0;
    }
    60% {
        top: 0px;
        opacity: 1;
    }
    64% {
        top: 0px;
        opacity: 1;
    }
    76% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    80% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    81% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-moz-keyframes cycle5 {
    0% {
        top: -325px;
        opacity: 0;
    }
    76% {
        top: -325px;
        opacity: 0;
    }
    80% {
        top: 0px;
        opacity: 1;
    }
    84% {
        top: 0px;
        opacity: 1;
    }
    96% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    100% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
}

@-webkit-keyframes cycle {
    0% {
        top: 0px;
    }
    4% {
        top: 0px;
    }
    16% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    20% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    21% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    50% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    92% {
        top: -325px;
        opacity: 0;
        z-index: 0;
    }
    96% {
        top: -325px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@-webkit-keyframes cycle2 {
    0% {
        top: -325px;
        opacity: 0;
    }
    16% {
        top: -325px;
        opacity: 0;
    }
    20% {
        top: 0px;
        opacity: 1;
    }
    24% {
        top: 0px;
        opacity: 1;
    }
    36% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    40% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    41% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes cycle3 {
    0% {
        top: -325px;
        opacity: 0;
    }
    36% {
        top: -325px;
        opacity: 0;
    }
    40% {
        top: 0px;
        opacity: 1;
    }
    44% {
        top: 0px;
        opacity: 1;
    }
    56% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    60% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    61% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes cycle4 {
    0% {
        top: -325px;
        opacity: 0;
    }
    56% {
        top: -325px;
        opacity: 0;
    }
    60% {
        top: 0px;
        opacity: 1;
    }
    64% {
        top: 0px;
        opacity: 1;
    }
    76% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    80% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    81% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes cycle5 {
    0% {
        top: -325px;
        opacity: 0;
    }
    76% {
        top: -325px;
        opacity: 0;
    }
    80% {
        top: 0px;
        opacity: 1;
    }
    84% {
        top: 0px;
        opacity: 1;
    }
    96% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    100% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
}

input[type="search"] {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}