.searchbox {
    background-image: url("../images/ball-stadium.jpeg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.searchbox-panel {
    margin-bottom: 30px;
    margin-top: 30px;
}

.ui-datepicker {
    background: #002147;
    border: 1px solid #555;
    color: #EEE;
}

.card-img-bottom {
    color: #fff;
    height: 20rem;
    background: url("../images/partner_logo.jpeg") center no-repeat;
    background-size: cover;
}

.card {
    margin-bottom: 2rem;
}

.bigger {
    font-size: 25px;
    height: 20px;
    padding: 1px 7px;
}

.title {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

#loading_img {
    height: 70px;
    width: 70px;
}

.form_input {
    margin-bottom: 30px !important;
    margin-top: 5px !important;
}

.error {
    border: 1px solid red;
}

.user_profile {
    display: unset;
    background: #ffb71c;
    color: #fff;
    font-size: 0.9em;
    padding: 8px 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
}

.user_profile li {
    color: #FFF;
}

.user_profile:hover {
    background: #fff;
    color: #000;
}

.user_profile_item {
    /*width: 200px;*/
    /*display:inline-block;*/
}

.user_profile_item a {
    padding-bottom: 4px;
    padding-left: 5px;
    display: block;
    list-style: circle;
}

.padding {
    padding-top: 30px;
}

.glyphicon {
    margin-bottom: 10px;
    margin-right: 10px;
}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

.col-center-block {
    float: none;
    display: block;
    margin: 40px auto;
    /* margin-left: auto; margin-right: auto; */
}

.hidden {
    display: none;
}

.change_pass {
    width: 30%;
}

.user-info td {
    padding: 5px 10px 5px 10px;
}

.booking-img {
    width: 35px;
    height: 45px;
}